* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: wheat;
  height: 20vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.row {
  width: 100%;
  height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: center;
  overflow: auto;
  overflow-y: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 40vh;
  box-shadow: 10px 5px 5px #f1f1f1;
  padding: 10px;
  margin: 10px;
}

.circle-avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.person {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
